:root {
    --primary: #b6895b;
    --bg: #010101;
}

*, html, body {
    margin: 0;
    padding: 0;
    outline: none;
    border: none;
    text-decoration: none;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins', sans-serif;
    background-color: var(--bg);
    color: #fff;
}

/* NAVBAR */
nav .navbar-logo {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

nav .navbar-logo span {
    color: var(--primary);
}

.cart-container {
    display: none; /* Awalnya disembunyikan */
    width: 300px;
    background-color: white;
    position: fixed;
    right: 0;
    top: 0;
    height: 100%;
    box-shadow: -2px 0 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

.cart-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #e0e0e0;
    padding-bottom: 10px;
}

.cart-header i {
    font-size: 24px;
    cursor: pointer;
}

.cart-header p {
    margin: 0;
    font-size: 14px;
    color: #666;
}

.cart-content {
    text-align: center;
    margin-top: 20px;
}

.cart-content h2 {
    font-size: 18px;
    margin-bottom: 20px;
}

.cart-content button {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #000;
    background-color: white;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.cart-content button:hover {
    background-color: #f0f0f0;
}
/* NAVBAR END */

/* SHOPPING CART */
.shopping-cart-buy{
    position: absolute;
    top: 100%;
    right: -100%;
    width: 35rem;
    height: 100vh;
    padding: 0 1.5rem;
    background-color: #fff;
    color: var(--bg);
    transition: 0.3s;
    box-shadow: -10px 0px 49px -15px rgba(0,0,0,0.75);
-webkit-box-shadow: -10px 0px 49px -15px rgba(0,0,0,0.75);
-moz-box-shadow: -10px 0px 49px -15px rgba(0,0,0,0.75);
}
.shopping-cart-buy.active{
    right: 0;
}
.shopping-cart-buy .cart-item {
    margin: 2rem 0;
    position: relative;
    display: flex;
    align-items: center;
    gap: 1.5rem;
    padding-bottom: 1rem;
    border-bottom: 1px dashed #666;
}
.shopping-cart-buy img{
    height: 6rem;
    width: 8rem;
    border-radius: 50%;
}
.shopping-cart-buy h3{
    font-size: 1.6rem;
    padding-bottom: 0.5rem;
}
.shopping-cart-buy .item-price{
    font-size: 1.2rem;
}
.shopping-cart-buy .remove-item{
    position: absolute;
    right: 1rem;
    cursor: pointer;
}
.shopping-cart-buy .remove-item:hover{
    color: var(--primary);
}

/* SHOPPING CART END*/



/* PRODUCT */
.content h2 span {
    color: var(--primary);
}
.content h2 {
    text-align: center;
    font-size: 2.6rem;
    font-weight: bold;
    margin-bottom: 2rem;
}
/* PRODUCT  END */

/* CONTENT */
.content .row .breadcrumb .breadcrumb-item a:hover{
    text-decoration: underline;
    font-weight: bold;
}
.content .container .main{
    padding: 1rem;
    border-radius: 5px;
}
.content .container .main .col .custom-card{
    border-radius: 15px;
}
.content .container .main .col .card-main:hover {
    box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.45);
-webkit-box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.45);
-moz-box-shadow: 0px 0px 35px -4px rgba(0,0,0,0.45);
}
.content .container .main .col .card-img-top {
    height: 200px; /* Atur tinggi gambar */
    object-fit: cover; /* Memastikan gambar tetap proporsional */
    overflow: hidden; /* Menyembunyikan bagian gambar yang keluar dari batas */
}
.content .container .list-group a:hover{
    font-weight: bold;
    text-decoration: underline;
}
.content .container .list-group li {
    margin-top: 10px;
}
.content .col{
    transition: 0.3s;
}

/* CONTENT END */

/* MEDIA QUERY */
@media (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
        width: 100%; /* Tambahkan ini untuk mengatur lebar navbar */
        overflow: hidden; /* Tambahkan ini untuk menghindari overflow */
    }

    .navigation {
        flex-direction: column;
        align-items: center;
        width: 100%; /* Tambahkan ini untuk memastikan navigation tidak melampaui batas */
    }

    .navigation li {
        padding: 10px;
        width: 100%; /* Tambahkan ini untuk memastikan item list tidak melampaui batas */
        text-align: center; /* Tambahkan ini untuk meratakan teks di tengah */
    }

    .about .TentangKami {
        width: 100%;
    }

    .contact-container {
        margin: 20px;
        padding: 15px;
        width: 100%; /* Pastikan kontainer kontak juga responsif */
    }

    .contact button {
        padding: 15px;
    }
    .contact .row .map {
        height: 20rem;
    }

    .cart-container {
        width: 100%; /* Lebar penuh untuk perangkat mobile */
        height: auto; /* Tinggi otomatis */
        position: fixed; /* Tetap di posisi tetap */
        top: 0; /* Posisi atas */
        right: 0; /* Posisi kanan */
        padding: 10px; /* Padding lebih kecil */
    }

    .cart-header {
        flex-direction: column; /* Susun header secara vertikal */
        align-items: flex-start; /* Rata kiri */
    }

    .cart-header p {
        font-size: 12px; /* Ukuran font lebih kecil */
        margin-top: 5px; /* Jarak atas */
    }

    .cart-content h2 {
        font-size: 16px; /* Ukuran font lebih kecil */
    }

    .cart-content button {
        font-size: 14px; /* Ukuran font lebih kecil */
        padding: 8px; /* Padding lebih kecil */
    }

    .content .container .col-3 {
        margin-bottom: 20px; /* Add space below the sidebar */
    }
    .content .container .row .col-12 .custom-list-group {
        flex-direction: row; /* Arrange items in a row */
    }
    .content .container .row .col-12 .custom-list-group li {
        margin-right: 10px; /* Add space between items */
    }
    .content .container .row .col-12 .custom-list-group li a:hover{
        font-weight: 500;
        text-decoration: underline;
    }
}

@media (max-width: 480px) {
    nav {
        font-size: 18px;
        width: 100%; /* Pastikan navbar tetap 100% */
    }

    .logo a {
        font-size: 24px;
    }

    .navigation li a {
        font-size: 20px;
    }

    .contact-container {
        padding: 10px;
        width: 100%; /* Pastikan kontainer kontak tetap responsif */
    }

    .contact input[type="text"],
    .contact input[type="email"],
    .contact textarea {
        padding: 8px;
    }

    .contact button {
        padding: 12px;
    }
}

@media (max-width: 720px) {
    /* Aturan untuk layar kecil seperti Tecno Pova 4 */
    
    .hero .content h1 {
        font-size: 3.5rem; /* Mengurangi ukuran font untuk judul */
    }

    .hero .content p {
        font-size: 1.1rem; /* Mengurangi ukuran font untuk paragraf */
    }

    .about h2, .product h2, .contact h2 {
        font-size: 2.2rem; /* Mengurangi ukuran font untuk judul bagian */
    }

    .about .row {
        flex-direction: column; /* Mengubah arah baris menjadi kolom untuk tampilan yang lebih baik */
    }

    .about .row .about-img,
    .about .row .content {
        flex: 1 1 100%; /* Membuat gambar dan konten mengambil 100% lebar */
        margin-bottom: 2rem; /* Menambahkan margin bawah untuk spasi */
    }

    .contact .row {
        flex-direction: column; /* Mengubah arah baris menjadi kolom untuk tampilan yang lebih baik */
    }

    .contact .row .map,
    .contact .row .form {
        flex: 1 1 100%; /* Membuat peta dan formulir mengambil 100% lebar */
        margin-bottom: 2rem; /* Menambahkan margin bawah untuk spasi */
    }

    .contact .row .form .input-group input {
        font-size: 1.5rem; /* Mengurangi ukuran font untuk input */
    }

    .contact .row .form .btn {
        font-size: 1.5rem; /* Mengurangi ukuran font untuk tombol */
    }

    .product .text,
    .contact .text {
        font-size: 1.2rem; /* Mengurangi ukuran font untuk teks */
    }

    .product .card {
        margin: 0; /* Menghapus margin untuk kartu produk */
    }

    .product .cta {
        font-size: 1.2rem; /* Mengurangi ukuran font untuk tombol CTA */
    }
}


@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
body {
    font-family: 'Roboto', sans-serif;
}